* {
    text-decoration: none !important;
}
.navbar-brand{
    color: #222 !important;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 900;
}
nav a:hover{
    color: #121416 !important;
}
.jumbotron {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/assets/images/leaves.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.blog-posts {
    margin-bottom: 40px;
}
.blog-posts-title {
    font-size: 30px;
}
footer {
    background: #f9f9f9;
}
.footer-find-me {
    cursor: default;
    user-select: none;
}
.footer-find-me img{
    width: calc(25px + 1vw);
    cursor: pointer;
    margin: auto 5px;
    transition: all 0.4s;
}
.footer-find-me img:hover {
    transform: scale(1.4);
}